@using Application;
@inherits AudioComponetBase

<div class="slideContainer">
    <div class="sliderDiv">
        <input type="range" class="slider" @bind="Volume" min=@_min max=@_max />
    </div>
</div>
<div class="mute-wrapper">
    <button class="btn btn-primary" style="margin:auto; background-color: @_color;" data-toggle="button" autocomplete="off" value="@_isMuted" @onclick="SetMute">Mute</button>
    <p>Volume @_vol </p>
</div>
