@page "/audio"
<h3>Spaceship Command Center.</h3>

<div class="card-deck">
    <div class="card">
        <div class="card-header">Channel 1</div>
        <div class="card-body">
            <AudioComponent zoneId="60000"></AudioComponent>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Channel 2</div>
        <div class="card-body">
            <AudioComponent zoneId="60001"></AudioComponent>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Channel 3</div>
        <div class="card-body">
            <AudioComponent zoneId="60002"></AudioComponent>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Channel 4</div>
        <div class="card-body">
            <AudioComponent zoneId="60003"></AudioComponent>
        </div>
    </div>
</div>

<!--

<div class="container-fluid small">
    <div class="row">
        <div class="col-sm">
            <a>Channel 1</a>
            <AudioComponent zoneId="60000"></AudioComponent>
        </div>
        <div class="col-sm">
            <a>Channel 2</a>
            <AudioComponent zoneId="60001"></AudioComponent>
        </div>
        <div class="col-sm">
            <a>Channel 3</a>
            <AudioComponent zoneId="60002"></AudioComponent>
        </div>
    </div>
</div>
    -->
