@page "/audio"

<div class="card-deck">
    <div class="card text-center card-col">
        <div class="card-header">Inside Speakers</div>
        <div class="card-body">
            <AudioComponent zoneId="60000"></AudioComponent>
        </div>
    </div>
    <div class="card text-center card-col">
        <div class="card-header">Outside Speakers</div>
        <div class="card-body">
            <AudioComponent zoneId="50002"></AudioComponent>
        </div>
    </div>
    <div class="card text-center card-col">
        <div class="card-header">Subwoofer</div>
        <div class="card-body">
            <AudioComponent zoneId="60003"></AudioComponent>
        </div>
    </div>
</div>
