@page "/audio"

<div class="card-deck">
    <div class="card text-center card-col">
        <div class="card-header">Inside Speakers</div>
        <div class="card-body">
            <AudioComponent zoneId="60000"></AudioComponent>
        </div>
    </div>
    <div class="card text-center card-col">
        <div class="card-header">Outside Speakers</div>
        <div class="card-body">
            <AudioComponent zoneId="50002"></AudioComponent>
        </div>
    </div>
    <div class="card text-center card-col">
        <div class="card-header">Subwoofer</div>
        <div class="card-body">
            <AudioComponent zoneId="60003"></AudioComponent>
        </div>
    </div>
</div>

<!--

<div class="container-fluid small">
    <div class="row">
        <div class="col-sm">
            <a>Channel 1</a>
            <AudioComponent zoneId="60000"></AudioComponent>
        </div>
        <div class="col-sm">
            <a>Channel 2</a>
            <AudioComponent zoneId="60001"></AudioComponent>
        </div>
        <div class="col-sm">
            <a>Channel 3</a>
            <AudioComponent zoneId="60002"></AudioComponent>
        </div>
    </div>
</div>
    -->
