@page "/getconnected"

<h3>GetConnected</h3>
<div class="card-deck">
    <div class="card text-center card-col connect">
        <div class="card-header">Wifi</div>
        <div class="card-body">
   <img class="qr-code" src="../wifi1.svg"/>
        </div>
    </div>
    <div class="card text-center card-col connect">
        <div class="card-header">Home Page</div>
        <div class="card-body">
            <img class="qr-code" src="../home.svg" />
        </div>
    </div>
</div>
@code {

}
