@page "/"

<div class="card-deck">
    <div class="card">
        <div class="card-header">WIFI Audio</div>
        <div class="card-body">
            <AudioComponent zoneId="50000"></AudioComponent>
        </div>
    </div>
</div>
