@page "/"

    <div class="card-deck">
        <div class="card text-center card-col">
            <div class="card-header">WIFI Audio</div>
            <div class="card-body">
                <AudioComponent zoneId="50000"></AudioComponent>
            </div>
        </div>
        <div class="card text-center card-col">
            <div class="card-header">3.5 Audio</div>
            <div class="card-body">
                <AudioComponent zoneId="50001"></AudioComponent>
            </div>
        </div>
    </div>
