@inherits LayoutComponentBase

<Toast></Toast>
<div class="sidebar">
    <NavMenu/>
</div>

<div class="main bg-img">
    <div class="top px-4">
        <EliteToyhauler.v3.Pages.MuteBar></EliteToyhauler.v3.Pages.MuteBar>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
