<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="audio">
                <span class="oi oi-plus" aria-hidden="true"></span> Audio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="temperature">
                <span class="oi oi-plus" aria-hidden="true"></span> Tempurature
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="getconnected">
                <span class="oi oi-wifi" aria-hidden="true"></span> Get Connected!
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-wifi" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;
  
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
